@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root{
    --font1:'Dancing Script', cursive;
    --font2:'Anton', sans-serif;

}
* {
    margin: 0px;
    padding:0px ;
}
html , body {
    min-height: 100vh;
    background-color: white;
    font-family: var(--font2);
}
header{
    color: white;
    background-color: rgb(30, 30, 30);
    text-align: center;
}
header > h1{
    padding-top: 50px ;
    font-family: var(--font2);
    font-size: 2em;
}
header > p{
    padding-bottom:  50px;
    font-family: var(--font1);
    font-size: 2em;
}
header a , footer a{
    color: white;
    text-decoration: none;  
}
header a:hover , footer a:hover {
    text-decoration: underline;
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.5em;
    padding-left: 30px;
    font-family: var(--font1);
    font-size: 1.5em;
}
section.normal{
    background-color: white;
    color: rgb(30, 30, 30);
}
section.imagem{
    background-color: rgb(30, 30, 30) ;
    color:white ;
}
section.imagem > p{
    width: 400px;
    background-color:rgb(30, 30, 30);
}

footer{
    background-color: rgb(30, 30, 30);
    text-align: center;
    color: white;
    padding: 10px;
}
